<%- include('../partials/header') -%>
<section id="popular-topics">
    <div class="article-header">
        <h1 class="section-title">Popular topics</h1>
        <div class="article-categories">
            <ul class="nav-items split-one">
                <li class="nav-item"><a href="#">All</a></li>
                <li class="nav-item"><a href="#">Australia</a></li>
                <li class="nav-item"><a href="#">Travel</a></li>
                <li class="nav-item"><a href="#">Fashion</a></li>
                <li class="nav-item"><a href="#">Technology</a></li>
                <li class="nav-item"><a href="#">Branding</a></li>
            </ul>
            <!-- <ul class="nav-items split-two">
                <li class="nav-item"><a href="">View All</a></li>
            </ul> -->
        </div>
    </div>
    <div class="articles">
        <%articlelist.forEach(article => {%>
            <div class="article">
                <div class="img">
                    <a href="/article/<%=article._id%>"><img src=<%=article.image %>></a>
                    <h6 class="genre-type"><%=article.genre %></h6>
                </div>
            <span class="time"></span>
            <h3 class="article-section-header"><a href="/article/<%=article._id%>"><%=article.title %></a></h3>
            <p class="article-section-summary"><%=article.summary %></p>
            </div>
        <%});%>
    </div>
</section>
<section id="article-section">
    <img src="https://i.guim.co.uk/img/media/7007477a16ee2d932bdd7fd3ca0a40946a01a615/0_527_7897_4738/master/7897.jpg?width=620&quality=45&dpr=2&s=none" alt="image">
    <div class="article-content">
        <div class="article-top">
            <h6 class="genre-type">FASHION</h6>
            <h1 class="article-title">Richird Norton photorealistic rendering as real photos</h1>
        </div>
        <div class="article-bottom">
            <p class="article-summary">Progressively incentivize cooperative systems through technically sound functionalities. The credibly productivate seamless data.</p>
            <span class="line"></span>
            <span class="time"></span>
        </div>
    </div>
</section>
<section id="editors-pick">
    <div class="title">
        <h1 class="section-title">Editor's Pick</h1>
    </div>
    <div class="editor-pick-cards">
        <%articles.forEach(article => {%>
            <div class="editor-pick-card">
                <a href="/article/<%=article._id%>"><img src=<%=article.image%> alt=""></a>
                <h6 class="genre-type"><%=article.genre%></h6>
                <div class="card-container">
                    <div class="editor-pick-card-content">
                        <span class="time"></span>
                        <p class="card-title"><a href="/article/<%=article._id%>"><%=article.title%></a></p>
                        <p class="card-summary"><%=article.summary%></p>
                    </div>
                </div>
            </div>
        <%}) %>
    </div>
</section>
<%- include('../partials/footer') -%>