<%- include('../partials/navbar') -%>
<head>
    <link rel="stylesheet" href="/pages.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
    <section id="article-section" class="slide">
        <img src=<%= articlecontent.image %> alt="image">
        <div class="article-content">
            <div class="article-top">
                <h6 class="genre-type"><%= articlecontent.genre %></h6>
                <h1 class="article-title"><%= articlecontent.title %></h1>
            </div>
            <div class="article-bottom">
                <p class="article-summary"><%= articlecontent.summary %></p>
                <span class="line"></span>
                <span class="time"></span>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="info">
            <span class="time"></span>
        </div>
        <div class="article-full-content-container">
            <p><%=articlecontent.fullcontent%></p>
        </div>
        <hr class="big-line">
        <div class="article-social">
            <ul class="footer-connections">
                <li class="footer-links"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li class="footer-links"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li class="footer-links"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>
    <section id="editors-pick">
        <div class="title">
            <h1 class="section-title">Editor's Pick</h1>
        </div>
        <div class="editor-pick-cards">
            <%articles.forEach(article => {%>
                <div class="editor-pick-card">
                    <a href="/article/<%=article._id%>"><img src=<%=article.image%> alt=""></a>
                    <h6 class="genre-type"><%=article.genre%></h6>
                    <div class="card-container">
                        <div class="editor-pick-card-content">
                            <span class="time"></span>
                            <p class="card-title"><a href="/article/<%=article._id%>"><%=article.title%></a></p>
                            <p class="card-summary"><%=article.summary%></p>
                        </div>
                    </div>
                </div>
            <%}) %>
        </div>
    </section>

<%- include('../partials/footer') -%>